@model IEnumerable<Lab2_ED1.Models.MedicamentoExtModel>

@{
    ViewBag.Title = "Index";
}

<h2>
    Pedido de:  @TempData["nombre"]
</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            Cantidad
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
        </tr>
    }

</table>

<p>Total: </p>
@TempData["total"]
<div>
    <input name="button" type="submit" value="Confirmar Pedido" onclick='window.location = "@Url.Action("ConfirmarP")";' class="btn btn-primary" />
</div>
